<h1>Throw a Party!</h1>

<div class="container">
    <div class="col-xs-12 form-group">
        <label>Party Name</label>
        <input class="form-control" type="text"/>
    </div>
   <div class="col-xs-6 form-group">
       <label>Guests Attending</label>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
   </div>
   <div class="col-xs-6 form-group">
       <label>Items to Bring</label>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
       <input class="form-control" type="text"/>
   </div>
</div>