body{
    font-family: 'Mountains of Christmas', cursive;
    background-color: #c0392b 
}

#startButton{
    color: #e74c3c ;
    margin:0 auto;
    

}

#button{
    margin-left:490px;
    margin-top:300px;
}